
.btn-margin{
    margin-left: 5px;
    margin-top: 10px;
}
.margin-bt{
    margin-bottom: 7px;
    vertical-align: middle;
}
.color-text{
    text-align: center;
    padding-right: 10px;
    vertical-align: middle;
    padding-top: 10px;
}
.row-padding{
    padding-top: 10px;
}
.color-row-padding{
    margin-top: 10px;
}
.align-items-center{
    text-align: center;
}
.title{
    text-transform: uppercase;
}
.allday{
    margin-top: 7px;
}
.date-component{
    width: 100%; 
    min-width: 200px; 
    font-size: 13px;
}