.nav{
    background-color: #363538;
}
.top-title{
    padding: 15px;
    font-size: 50px;
    color: #97e2f3;
    font-family: 'Dancing Script', cursive;
}
.row-nav{
    width: 100%;
}
.col-title{
    height: 100%;
    margin: 15px;
    opacity: 50%;
}
.btn-align-center{
    text-align: center;
}
.btn-align-end{
    text-align: end;
}
